# Entorno virtual
venv/
.venv/

# Caché de F1 y Datos descargados
f1_cache/

# Permitir explícitamente el archivo de datos para la app
!data/f1_barcelona_comparison.csv

# Python interno
__pycache__/
*.pyc